<div class="container" id="containerb">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ctype.name %>
</p>

<%= link_to 'Edit', edit_ctype_path(@ctype) %> |
<%= link_to 'Back', ctypes_path %>



</div>
