


<div class="container" id="containerb">



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pstat.name %>
</p>



<%= link_to 'Edit', edit_pstat_path(@pstat) %> |
<%= link_to 'Back', pstats_path %>


</div>