


<%= form_tag set_featured_projects_path, method: :patch do %>
<ul class="consolebox">
<% @projects.each do |p| %>
<li>
<%= check_box_tag 'showreel[]', p.id %>
<%= x.id %> 
</li>
<% end %>
</ul>
</br>
<%= submit_tag "Set as featured", class: "btn btn-danger btn-sm" %>
<% end %>


</div>