


<div class="container" id="containerb">


  <% @clients.each do |client| %>

 <div class="item row">
  <%= image_tag(client.logo.url(:thumb), class: "logoshowcase") %>
 </div>

<% end %>



</div>

<script>


var $container = $('#containerb').isotope({
  itemSelector: '.item',
   masonry: {
    columnWidth: 50
  }
});

$container.imagesLoaded( function() {
  $container.isotope('layout');
});

</script>


